body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form div {
    margin: 10px 0;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    cursor: pointer;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.frame {
    border: 2px solid #333;
    margin-top: 20px;
    padding: 10px;
}

#frame-content {
    text-align: center;
}

#frame-content img {
    max-width: 100%;
    height: auto;
}